.body_container{
    min-height: 100vh;
    width:100vw;
}
.body_container{
    background: url("../../Images/homebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}
.Blogo img{
    height: 10rem;
    width: 12.6rem;
}
.bPara{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Blogo{
    /* border: 2px solid white; */
    margin-left:2rem;
}
.body_para{
    /* border: 2px solid white; */
    margin-top: 3rem;
    margin-bottom:2rem;
    margin-left: 1rem;
}
.bPara2{
    font-weight: 800;
    font-size: 1.5rem;
}
.body_button{
    /* border: 2px solid white; */
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}
.body_button button{
    border: none;
    outline: none;
    height: 2.8rem;
    width:8.3rem;
    border-radius: 1.4rem;
    font-size: 1.1rem;
    background-color: rgb(255, 55, 55);
    color:white;
    cursor: pointer;
}