@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Grenze+Gotisch&family=Hubballi&family=Lato&family=Manrope:wght@300&family=Open+Sans&family=Poppins:wght@200;300&family=Quicksand&family=Roboto:wght@300;400&family=Sansita+Swashed:wght@300&family=Work+Sans:wght@300&display=swap');

.navbar_container {
    background-color: transparent;
    /* box-shadow: 0px 0px 10px white;    */
    height: 60px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.logo img {
    /* border:2px solid white;  */
    height: 2.2rem;
    width: 7.5rem;
    margin-left: 2rem;

}

.search img {
    /* border: 2px solid white;  */
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
    position: relative;
}
.search2{
    border: none;
    outline:none;
    border-radius: 1rem;
    height: 2.6rem;
    width:13rem;
    padding:0.3rem;
    font-size: 0.9rem;
    position: absolute;
    top:4rem;
    right:2rem;
    animation: searchIN 0.2s ease;
    transform: translateX(0%);
}
.hidden{
    display: none;
}
@keyframes searchIN {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.contents {
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border:2px solid white;  */
}

.contents ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contents ul li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}


.li1 {
    position: relative;
}
.li2 {
    position: relative;
}
.li1:hover > .content1{
    display: initial;
}
.li2:hover > .content2{
    display: initial;
}
.content {
    border: 0.5px solid rgb(74, 74, 74);
    position: absolute;
    width: 10rem;
    top: 1.24rem;
    left: 0;
    background-color: rgb(31, 31, 31);
    font-size: 0.88rem;
    display: none;
}
.content ul {
    display: flex;
    flex-direction: column;
}
.content ul li {
    border-top: 0.5px solid rgb(112, 112, 112);
    width: 100%;
    height: 2rem;
    padding: 0.3rem;
    color: rgb(229, 229, 229);
}
.content ul .lists:hover{
    background-color: rgb(78, 78, 78);
}
.seeMore {
    color: white;
    font-size: 1.1rem;
    background-color: rgb(255, 76, 76);
}
.seeMore:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}




